<div class="courses text-center">
  <div class="row mb-2">
    <div style="width: 65%;">
      <h2 class="course-heading">Course</h2>
    </div>
    <div style="width: 35%;">
      <h2 class="Rating-heading">Rating</h2>
    </div>
  </div>

  <div class="row mb-3">
    <div style="width: 65%;">
      <div class="crs-name">
        <h3>OOP</h3>
      </div>
    </div>
    <div style="width: 35%;">
      <div class="crs-rate">
        <div class="oop">
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star unpicked pe-1"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div style="width: 65%;">
      <div class="crs-name">
        <h3>Networking</h3>
      </div>
    </div>
    <div style="width: 35%;">
      <div class="crs-rate">
        <div class="networking">
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div style="width: 65%;">
      <div class="crs-name">
        <h3>Database</h3>
      </div>
    </div>
    <div style="width: 35%;">
      <div class="crs-rate">
        <div class="database">
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star unpicked pe-1"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div style="width: 65%;">
      <div class="crs-name">
        <h3>Angular</h3>
      </div>
    </div>
    <div style="width: 35%;">
      <div class="crs-rate">
        <div class="angular">
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star unpicked pe-1"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div style="width: 65%;">
      <div class="crs-name">
        <h3>C#</h3>
      </div>
    </div>
    <div style="width: 35%;">
      <div class="crs-rate">
        <div class="c#">
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star picked pe-1"></i>
          <i class="fa fa-star unpicked pe-1"></i>
          <i class="fa fa-star unpicked pe-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>
