.crs-name , .crs-rate {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-heading , .Rating-heading  {
  background-color: #bf2222;
  color: rgb(241, 239, 239);
  padding: 5px 0;
}

.picked , .unpicked {
  font-size: 21px;
}

.picked {
  color: rgb(252, 175, 31);
}

.unpicked {
  color: rgb(150, 148, 148);
}




